// theme colors
$theme-light-grey:#ccc;
$theme-middle-grey:#7C7C7C;
$theme-dark-grey:#2A2A2A;
$theme-h3:#3d405b;
$theme-bule:#4fa4b7;
$theme-orange:#e07a5f;


// font size
$base-font-size:          14px;
$font-size-md:            16px;
$font-size-big:           18px;

/** screen **/
$pc-media: 1024px;
$pcs-media: 1023px;
$pad-media:760px;
$pads-media:759px;
$phone-media:480px;
$phones-media:479px;
